.container-fluid {
	margin-left: 10px;
	margin-right: 10px;
}

.navbar-default {
	background-color: white;
}
h1 {
	margin: 0 0 15px;
}
h2 {
	margin: 0 0 15px;
}
.navbar-brand {
	height: 60px;
}

#navbar-full {
	width:100%;
}

#navbar-full hr {
	border-top: 1px solid black;
	width: 100%;
}

.row > div {
	margin-bottom: 20px;
}

.menu-tile {
	background-color: #ccc;
	padding: 5px 10px;
	height: 700px;
	box-shadow: 10px 10px 5px #777;
	border-radius: 20px;
}